* {
    font-family: 'Lora', serif;  
}

body {
    background-image: url('https://www.mascotasonline.cl/images/gral/547239patron-fondo.png');
    box-sizing: border-box;
}


.container {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    align-items: center;
    background-image: url('../css/imagenes/fondo-patron-lindo-hueso-amarillo_1017-14893.jpg');
} 

.navbar {
    background-image: url('../css/imagenes/fondo-patron-lindo-hueso-amarillo_1017-14893.jpg');
        
}
ul li a {
    list-style: none;
    display: inline-block;
    color: black;
    
}

img {
    width: 100%;
    height: 450px;
    box-sizing: border-box;
}

.col {
    display: inline-block;
    justify-content: space-between;
    margin-right: 35px;
    padding: 20px;
    
}



#primera-card .card {
    border: solid 5px white;
    border-radius: 18px;
    overflow: hidden;
    transform: all ease-out 0.2s;
    height: 460px;
}

/*
.galeria {
    background-image: url('../css/imagenes/fondo-patron-lindo-hueso-amarillo_1017-14893.jpg');
}
*/
.galeria img {
    width: 100%;
    height: 250px;
}

.galeria .col-lg-4 {
    padding: 25px 100px 100px 100px;
    
}

.pie {
    background-color: turquoise;
    height: 50px;
    width: 100%;
    background-image: url('../css/imagenes/fondo-patron-lindo-hueso-amarillo_1017-14893.jpg');
    
}

#muv {
    float: right;
    margin-right: 15px;
    
}

.texto {
    text-align: justify;
}